<h2 class="center second">Espera</h2>
<hr />
<br />
<p class="center">
  Debes esperar a que la fecha de la siguiente fase inicie.
  Sí no realizaste el proceso en las fechas inidicadas debes contactar a soporte.
</p>
