<div class='nested-fields'>
  <div class="input-group">
    <%= f.collection_select(:goal_id, Goal.all, :id, :goal_name, {include_blank:'SELECCIONE'}, {required:true, class:'styled-select'}) %>
    <%= link_to_remove_association f, class: "minibtn btn-default m-1" do %>
      <span class="fa">&#x2212;</span>
      Remover Objetivo
    <% end %>
  </div>
</div>
