<div class='nested-fields'>

  <div class="row p-1">
    <%= f.label :reached, "Alcanzado:", class:'form-label col-sm-3 p-1' %>
    <%= f.number_field :reached, class:'form-control col-sm-3 p-1' %>
    <%= f.label :proposed, "Propuesto:", class:'form-label col-sm-3 p-1' %>
    <%= f.number_field :proposed, disabled:true, class:'form-control col-sm-3 p-1' %>
  </div>

</div>
