<%= javascript_include_tag "step4" %>
<input type="hidden" id="evaluation_id" value="<%= @evaluation.id %>">
<h2 class="center second">Esperando Verificación de Jefe</h2>
<h3 class="center second">Paso 4</h3>
<hr />
<br />
<p class="center">
  Debes esperar a que tu jefe apruebe la selección de Objetivos y Competencias.
</p>
