<h1>Editing Evaluations Competency</h1>

<%= render 'form', evaluations_competency: @evaluations_competency %>

<%= link_to 'Show', @evaluations_competency %> |
<%= link_to 'Back', evaluations_competencies_path %>
