<h2 class="center second"><%= t('general.messages.create') %> <%= t(@generation_range.class.model_name.human) %></h2>

<%= render 'form', generation_range: @generation_range %>

<%= link_to t('general.buttons.back'), generation_ranges_path, class:"btn btn-default" %>
