<h2 class="center second">Arquitectura Organizacional</h2>
<br />
<br />
<div class="row">
  <div class="col-sm-4 center">
    <%= link_to admin_structure_path, class: "btn-circle btn-inverse" do %>
    <span class="fa">&#xf1ad;</span>
    <% end %>
    <br>
    <p class="second">
      Estructura Organizacional
    </p>
  </div>

  <div class="col-sm-4 center">
    <%= link_to admin_headcount_path, class: "btn-circle btn-inverse" do %>
    <span class="fa">&#xf1ec;</span>
    <% end %>
    <br>
    <p class="second">
      HeadCount
    </p>
  </div>

  <div class="col-sm-4 center">
    <%= link_to users_path, class: "btn-circle btn-inverse" do %>
    <span class="fa">&#xf2bd;</span>
    <% end %>
    <br>
    <p class="second">
      Administración Usuarios
    </p>
  </div>
</div>
