<h2 class="center second">Administrar Datos</h2>
<br />
<br />

<div class="offset-sm-3 col-sm-6">
  <%= link_to "Ãreas", areas_path, class:"btn btn-grad mb-2 fw" %>
  <br />
  <%= link_to "Cargos", charges_path, class:"btn btn-grad mb-2 fw" %>
</div>
