<h2 class="center second">Gestión de Desempeño</h2>
<br />
<br />
<div class="row">
  <div class="offset-sm-2 col-sm-4 center">
    <%= link_to goals_path, class: "btn-circle btn-inverse" do %>
    <span class="fa">&#xf274;</span>
    <% end %>
    <br>
    <p class="second">
      Objetivos
    </p>
  </div>

  <div class="col-sm-4 center">
    <%= link_to root_path, class: "btn-circle btn-inverse" do %>
    <span class="fa">&#xf0c0;</span>
    <% end %>
    <br>
    <p class="second">
      Competencias
    </p>
  </div>

  <div class="offset-sm-4 col-sm-4 center">
    <%= link_to root_path, class: "btn-circle btn-inverse" do %>
    <span class="fa">&#xf080;</span>
    <% end %>
    <br>
    <p class="second">
      Medición de Resultados
    </p>
  </div>
</div>
