<h2 class="center second">Estructura Gestión de Desempeño</h2>
<br />
<br />

<div class="offset-sm-3 col-sm-6">

  <%= link_to Period.model_name.human(:count => 2), periods_path, class:"btn btn-grad mb-2 fw" %>
  <br />
  <%= link_to GoalType.model_name.human(:count => 2), goal_types_path, class:"btn btn-grad mb-2 fw" %>
  <br />
  <%= link_to Goal.model_name.human(:count => 2), goals_path, class:"btn btn-grad mb-2 fw" %>
  <br />
  <%= link_to Competency.model_name.human(:count => 2), competencies_path, class:"btn btn-grad mb-2 fw" %>
  <br />

</div>
