<%= javascript_include_tag "step2" %>
<h2 class="center second">Esperando Verificación de Jefe</h2>
<h3 class="center second">Paso 2</h3>
<br />
<p>
  Debes esperar a que tu jefe apruebe la solicitud.
</p>
