<h2 class="center second">Evaluador</h2>
<br />
<br />

<div class="offset-sm-1 col-sm-2">
  <%= link_to accept_user_path, class: "btn-circle btn-inverse" do %>
    <span class="fa">&#xf2bd;</span>
  <% end %>
  <br>
  <p class="second">
    Aceptar Evaluados
  </p>
</div>
