<h2 class="center second">Evaluador</h2>
<br />
<br />

<div class="row">
  <div class="col-sm-3 center">
    <%= link_to evaluator_accept_path, class: "btn-circle btn-inverse" do %>
    <span class="fa">&#xf2bd;</span>
    <% end %>
    <br>
    <p class="second">
      Aceptar Evaluados
    </p>
  </div>

  <div class="col-sm-3 center">
    <%= link_to evaluator_approve_path, class: "btn-circle btn-inverse" do %>
    <span class="fa">&#xf2bd;</span>
    <% end %>
    <br>
    <p class="second">
      Aprobar Objetivos y Competencias
    </p>
  </div>
</div>
