
  <div class="offset-sm-1 col-sm-2">
    <%= link_to admin_manage_path, class: "btn-circle btn-inverse" do %>
      <span class="fa">&#xf022;</span>
    <% end %>
    <br>
    <p class="second">
      Administrar Listas
    </p>
  </div>
  
