<h2 class="center second">Administrador</h2>
<br />
<hr />
<br />
<div class="row">
  <div class="col-sm-6 center p-4">
    <%= link_to image_tag("AO.jpg", border: 0, width: '150px'), {action: 'architecture', controller: 'admin'}, {class: 'btn btn-inverse center'}  %>
    <br />
    <br />
    <h5 class="first">  Arquitectura Organizacional</h5>
  </div>
  <div class="col-sm-6 center p-4">
    <%= link_to image_tag("GD.jpg", border: 0, width: '150px'), {action: 'performance', controller: 'admin'}, {class: 'btn btn-inverse center'}  %>
    <br />
    <br />
    <h5 class="first">  Gestión de Desempeño</h5>
  </div>
</div>
