<h3 class="title center first">AUTORIZACIÓN DE TRATAMIENTO DE DATOS PERSONALES</h3>
<br />
<h5 class="center second">
  DECLARO QUE CON EL SIGUIENTE TEXTO ESTOY SIENDO INFORMADO
</h5>
<br />
<div class="container-center">
  <div class="col-sm-10 h-75 overflow">
    <p class="justify">
      Aasdjaosdjoasdjaosjdoasdao adjosadjasodjasodj oadjoas jdaso jdoasjdoasjdoasjdoajs dojasodjasodjasodjasodjasojd asojdoasjd oasjdoasjdoasjdodasdad.
      Aasdjaosdjoasdjaosjdoasdao adjosadjasodjasodj oadjoas jdaso jdoasjdoasjdoasjdoajs dojasodjasodjasodjasodjasojd asojdoasjd oasjdoasjdoasjdodasdad.
      Aasdjaosdjoasdjaosjdoasdao adjosadjasodjasodj oadjoas jdaso jdoasjdoasjdoasjdoajs dojasodjasodjasodjasodjasojd asojdoasjd oasjdoasjdoasjdodasdad.
      Aasdjaosdjoasdjaosjdoasdao adjosadjasodjasodj oadjoas jdaso jdoasjdoasjdoasjdoajs dojasodjasodjasodjasodjasojd asojdoasjd oasjdoasjdoasjdodasdad.
      Aasdjaosdjoasdjaosjdoasdao adjosadjasodjasodj oadjoas jdaso jdoasjdoasjdoasjdoajs dojasodjasodjasodjasodjasojd asojdoasjd oasjdoasjdoasjdodasdad.
      Aasdjaosdjoasdjaosjdoasdao adjosadjasodjasodj oadjoas jdaso jdoasjdoasjdoasjdoajs dojasodjasodjasodjasodjasojd asojdoasjd oasjdoasjdoasjdodasdad.
      Aasdjaosdjoasdjaosjdoasdao adjosadjasodjasodj oadjoas jdaso jdoasjdoasjdoasjdoajs dojasodjasodjasodjasodjasojd asojdoasjd oasjdoasjdoasjdodasdad.
      Aasdjaosdjoasdjaosjdoasdao adjosadjasodjasodj oadjoas jdaso jdoasjdoasjdoasjdoajs dojasodjasodjasodjasodjasojd asojdoasjd oasjdoasjdoasjdodasdad.
      Aasdjaosdjoasdjaosjdoasdao adjosadjasodjasodj oadjoas jdaso jdoasjdoasjdoasjdoajs dojasodjasodjasodjasodjasojd asojdoasjd oasjdoasjdoasjdodasdad.
      Aasdjaosdjoasdjaosjdoasdao adjosadjasodjasodj oadjoas jdaso jdoasjdoasjdoasjdoajs dojasodjasodjasodjasodjasojd asojdoasjd oasjdoasjdoasjdodasdad.
      Aasdjaosdjoasdjaosjdoasdao adjosadjasodjasodj oadjoas jdaso jdoasjdoasjdoasjdoajs dojasodjasodjasodjasodjasojd asojdoasjd oasjdoasjdoasjdodasdad.
      Aasdjaosdjoasdjaosjdoasdao adjosadjasodjasodj oadjoas jdaso jdoasjdoasjdoasjdoajs dojasodjasodjasodjasodjasojd asojdoasjd oasjdoasjdoasjdodasdad.
    </p>
  </div>
</div>
<br />
<div class="container-center">
  <%= form_for(current_user, :url => registration_path(current_user))  do |f| %>
    <%= f.hidden_field :terms, value:true %>
    <%= f.submit "Acepto términos y condiciones", class:"btn btn-default" %>
  <% end %>
</div>
