<%= form_with(model: goals_evaluation, local: true) do |form| %>
  <% if goals_evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(goals_evaluation.errors.count, "error") %> prohibited this goals_evaluation from being saved:</h2>

      <ul>
      <% goals_evaluation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
