<h2 class="center second"><%= t('general.messages.create') %> <%= t(@contract_type.class.model_name.human) %></h2>

<%= render 'form', contract_type: @contract_type %>

<%= link_to t('general.buttons.back'), contract_types_path, class:"btn btn-default" %>
