<h2 class="center second"><%= t('general.messages.edit') %> <%= t(@departament.class.model_name.human) %></h2>

<%= render 'form', departament: @departament %>

<%= link_to t('general.buttons.back'), departaments_path, class:"btn btn-default" %>
