<div class='nested-fields'>
  <%= f.select :goal_id, options_for_select(@goals, f.object.goal_id), {include_blank:'SELECCIONE'}, {required:true, disabled:true, class:'styled-select select-goals col-sm-12 m-1'} %>
  <table class="table table-responsive-sm">
    <thead class="first">
      <tr>
        <th class="center">Realizado</th>
        <th class="center">Propuesto</th>
        <th class="center">Expiración</th>
      </tr>
    </thead>
    <tbody>
      <div id="phases_users_container" class="phases_users">
        <%= f.fields_for :phases_users do |phases_user| %>
        <%= render 'phases_user_fields', f: phases_user %>
        <% end %>
      </div>
    </tbody>
  </table>
</div>
