<tr>
  <div class='nested-fields'>
    <td><%= f.number_field :reached, class:'center form-control' %></td>
    <td><%= f.number_field :proposed, disabled:true, class:'center form-control' %></td>
    <td><%= f.date_field :expiration, disabled:true, class:'center form-control' %></td>
  </div>
</tr>
