<h2 class="center second"><%= t('general.messages.create') %> <%= t(@goal_type.class.model_name.human) %></h2>

<%= render 'form', goal_type: @goal_type %>

<%= link_to t('general.buttons.back'), goal_types_path, class:"btn btn-default" %>
