<h2 class="center second"><%= t('general.messages.create') %> <%= t(@city.class.model_name.human) %></h2>

<%= render 'form', city: @city %>

<%= link_to t('general.buttons.back'), cities_path, class:"btn btn-default" %>
