<div class='nested-fields'>
  <div class="row">
      <div class="input-group">
        <div class="offset-sm-3 col-sm-2">
          <%= f.label :proposed, "Propuesto", class:'form-label' %>
        </div>
        <div class="offset-sm-1 col-sm-6">
          <%= f.number_field :proposed, required:true, title:t('general.messages.num'), class:'form-control' %>
        </div>
      </div>
  </div>
</div>
