<tr>
  <div class='nested-fields'>
    <td><%= f.number_field :reached, class:'center form-control reached' %></td>
    <td><%= f.number_field :proposed, disabled:true, class:'center form-control proposed' %></td>
    <td><%= f.date_field :expiration, disabled:true, class:'center form-control expiration' %></td>
  </div>
</tr>
