<%= form_with(model: evaluations_goal, local: true) do |form| %>
  <% if evaluations_goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(evaluations_goal.errors.count, "error") %> prohibited this evaluations_goal from being saved:</h2>

      <ul>
      <% evaluations_goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
