<h2 class="center second"><%= t('general.messages.edit') %> <%= t(@charge.class.model_name.human) %></h2>

<%= render 'form', charge: @charge %>

<%= link_to t('general.buttons.back'), charges_path, class:"btn btn-default" %>
