<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'/>
    <%= wicked_pdf_stylesheet_link_tag "fonts" %>
    <script src='http://www.google.com/jsapi'></script>
  </head>
  <body>
    <%= wicked_pdf_image_tag 'logo.png' %>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
